<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="shortcut icon" href="">
    <!-- build:css(./bower_components/) css/sign_vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(./client/) css/signin.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
</head>
<body>

<!-- build:js(./bower_components/) modules/sign_vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(./client/) modules/signin.js -->
<script src="modules/common/ajax.js"></script>
<script src="modules/signin/signin.js"></script>
<!-- endbuild -->
</body>
</html>